<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.132876560540-jsibfnogr4dah8ti9207qifdctqquoqv</string>
			</array>
		</dict>
	</array>
	<key>CLIENT_ID</key>
	<string>132876560540-jsibfnogr4dah8ti9207qifdctqquoqv.apps.googleusercontent.com</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>UnboundedFont.ttf</string>
	</array>
</dict>
</plist>
